body {
  background-color: #E8F6EF;
  margin-left: 100px;
  margin-right: 100px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  /*margin-left: 1em; */
  border-color: #B5CDA3;
  border-width: 6px;
  width: 10%
}

h1 {
  font-family: Garamond, serif;
  color: #185ADB;
}

h2 {
  font-family: Lucida, cursive;
  font-size: 17px;
}

h3 {
  color: #50CB93;
}

/*********ID Selectors*****/
#address {                      /* use single id in a webpage */
  font-style: italic;
}
