body {
  background-color: #E8F6EF;
  margin-left: 100px;
  margin-right: 100px;
}

.h1 {
  border-style: none;
  border-top-style: dotted;
  /*margin-left: 1em; */
  border-color: #B5CDA3;
  border-width: 6px;
  width: 10%
}

.h2 {
  border-style: none;
  border-top-style: dotted;
  /*margin-left: 1em; */
  border-color: #ffffcc;
  border-width: 6px;
  width: 10%
}

h1 {
  font-family: Garamond, serif;
  color: #185ADB;
}

h2 {
  font-family: Lucida, cursive;
  font-size: 17px;
}

h3 {
  color: #50CB93;
}

/*********ID Selectors*****/
#address {                      /* use single id in a webpage */
   font-style: italic;
}

/***
.unit {
  padding: 20px;
  font-family: Garamond, serif;
  font-style: italic;
  font-weight: bold;
  color: #185ADB;
}

.unit {
  font-family: sans-serif;
  color: #185ADB;
}
**/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*
*{
  box-sizing: border-box;
}
*/
.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 30px;
}

.p1 {
  font-family: "Lucida, cursive";
  font-weight: bold;
  font-style: italic;
  font-size: 17px;
}
.p2 {
  font-family: "Lucida Handwriting";
  font-style: italic;
  color: navy;
  font-size: 14px;

}
.p3 {
  font-family: "Lucida, cursive";
  font-weight: bold;
  font-style: italic;
  font-size: 17px;
  color: navy;
}
